extend layout
block content
    .flex.justify-end.py-4.space-x-8(class='md:mx-10')
        a(href='/departmentForm')
            button.px-4.py-2.text-white.bg-blue-500.rounded-lg.tex-md + Add Department
    .mx-4.overflow-hidden.rounded-lg.shadow-lg(class='md:mx-10')
        table.w-full.table-fixed(class='even:bg-gray-')
            thead
                tr.bg-gray-100
                    th.px-6.py-4.font-bold.text-left.text-gray-900.uppercase(class='w-1/12') sn
                    th.px-6.py-4.font-bold.text-left.text-gray-900.uppercase(class='w-1/3') Department Name
                    th.px-6.py-4.font-bold.text-left.text-gray-900.uppercase(class='w-1/6') Status
            tbody.bg-white
                each department in departments
                    tr
                        td.px-6.py-4.border-b.border-gray-200.text-md= department.id
                        td.px-6.py-4.truncate.border-b.border-gray-200.text-md(class='hover:text-blue-500')
                            span= `${department.department_name}`
                        td.px-6.py-4.text-sm.border-b.border-gray-200
                            span.px-2.py-1.text-xs.text-white.bg-green-500.rounded-full Active
                        

